.todo__newtodo { 
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}
.todo__newtodo-content {
    background-color: var(--very-dark-desaturated-blue); 
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 25px;
    align-content: center;
}
.todo__newtodo-content__btn {
    background-color: var(--very-dark-desaturated-blue);
    min-width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 1px solid var(--extreme-dark-grayish-blue);
    margin-right: 1.5rem;
}
form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
form button {
    background-color: var(--very-dark-desaturated-blue);
    cursor: pointer;
    border: none;
}
form button:hover {
    background-color: var(--dark-grayish-blue2)
}
form button:focus-visible {
    outline: none;
}
input {
    font-family: var(--font-family);
    background-color: var(--very-dark-desaturated-blue);
    height: 100%;
    border: none;
    color: var(--light-grayish-blue);
    font-size: 22px;
    width: 90%;
    cursor: pointer;
    caret-color: var(--bright-blue);
}
input:focus-visible {
    outline: none;
}
input::placeholder {
    color: var(--light-grayish-blue);
    font-size: 22px;
    font-family: var(--font-family);
}
input:-webkit-autofill {
    border: 1px solid var(--very-dark-desaturated-blue);
    -webkit-text-fill-color: var(--light-grayish-blue);
    -webkit-box-shadow: 0 0 0px 1000px var(--very-dark-desaturated-blue) inset;
    transition: background-color 5000s ease-in-out 0s;
}
.todo__newtodo-error {
    font-size: 18px;
    font-family: var(--font-family);
    justify-content: flex-end;
    display: flex;
}
.todo__newtodo-error p {
    margin: 0.1rem 1rem 0;
}