.todo__todolist-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var( --very-light-gray);
}
.todo__todolist-heading h1 {
    font-size: 2.8rem;
    font-weight: 700; 
    letter-spacing: 15px;
}
.todo__todolist-functions {
    line-height: 25px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}
.todo__todolist-functions__btn button {
    border: none;
    padding: .5rem;
    font-size: 16px;
    cursor: pointer;
}
.dark-i, .dark-ii button {
    background-color: var(--very-dark-desaturated-blue);
    color: var(--dark-grayish-blue2);
}
.light-i, .light-ii button {
    background-color: white;
    color: var(--dark-grayish-blue2);
}
.dark-ii button:hover,
.dark-ii button:focus,
.dark-iii:hover,
.dark-iii:focus {
    color: var(--very-light-grayish-blue);
}
.light-ii button:hover,
.light-ii button:focus,
.light-iii:hover,
.light-iii:focus {
    color: var(--very-dark-blue);
}
.todo__todolist-functions__btn button:focus-visible {
    outline: none;
}
.todo__todolist-functions__CComp {
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.dark-iii {
    background-color: var(--very-dark-desaturated-blue);
    color: var(--dark-grayish-blue2);
}
.light-iii {
    background-color: white;
    color: var(--dark-grayish-blue2);
}
.todo__todolist-p {
    color: var(--dark-grayish-blue2);
    font-size: 14px;
    justify-content: center;
    display: flex;
    padding-top: 4rem;
}
.completed-li p {
    text-decoration: line-through;
}
.completed-li button {
    background-image: var(--gradient-round-button);
}

@media screen and (max-width:550px) {
    .todo__todolist-heading h1 {
        font-size: 2rem;
        letter-spacing: 10px;
    }
    .todo__todolist-functions {
        flex-wrap: wrap;
        padding: 0;
        line-height: unset;
    }
    .dark-i, .light-i {
        background-color: unset;
        color: var(--dark-grayish-blue2);
    }
    .todo__todolist-functions p {
        order: 1;
        flex-basis: 50%;
        padding: 1rem .6rem;
        font-size: 14px;
        line-height: 25px;
    }
    .todo__todolist-functions__CComp {
        order: 2;
        flex-basis: 50%;
        justify-content: right;
        display: flex;
        padding: 1rem .6rem;
        font-size: 14px;
        line-height: 25px;
    }
    .todo__todolist-functions__btn {
        order: 3;
        flex-basis: 100%;
        justify-content: center;
        display: flex;
        margin-top: 1rem ;
        padding: .5rem;
    }
    .dark-iv, .dark-ii, .dark-iii {
        background-color: var(--very-dark-desaturated-blue);
    }
    .light-iv, .light-ii, .light-iii {
        background-color: white;
    }   
}
@media screen and (max-width:380px) {
    .todo__todolist-heading h1 {
        font-size: 1.8rem;
        letter-spacing: 7px;
    }
}
@media screen and (max-width:290px) {
    .todo__todolist-p,
    .todo__todolist-functions p,
    .todo__todolist-functions__CComp {
        font-size: 12px;
    }
    .todo__todolist-functions__btn button {
        font-size: 14px;
    }
}