*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body{
  background-color: var(--very-dark-blue);
  font-family: var(--font-family);
  font-size: 10px;
  color: white;
}
#dark-a {
  height: 100vh;
  background-color: var(--very-dark-blue);
}
#light-a {
  height: 100vh;
  background-color: var(--very-light-gray);
}
.App {
  background-repeat: no-repeat;
  background-size: cover; 
  height: 300px;
  padding: 5rem 30% 3rem;
}
#dark-app {
  /* background-color: var(--very-dark-blue); */
  background-image: url(assets/bg-desktop-dark.jpg);
}
#light-app {
  background-image: url(assets/bg-desktop-light.jpg);
}
@media screen and (max-width: 550px) {
  .App {
    /* background-size: cover; */
    background-image: url(assets/bg-mobile-dark.jpg);
    /* height: 300px; */
  }
}
@media screen and (max-width: 450px) {
  .App {
    /* background-size: cover; */
    
    /* height: 300px;  */
  }
}
@media screen and (max-width: 395px) {
  .App {
    /* height: 300px; */
  }
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
