*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body{
  background-color: var(--very-dark-blue);
  font-family: var(--font-family);
  font-size: 10px;
  color: white;
}
.dark-a {
  height: 100vh;
  background-color: var(--very-dark-blue);
}
.light-a {
  height: 100vh;
  background-color: var(--very-light-gray);
}
.App {
  background-repeat: no-repeat;
  background-size: cover; 
  height: 300px;
  padding: 5rem 30% 3rem;
}
.dark-app {
  background-image: url(assets/bg-desktop-dark.jpg);
}
.light-app {
  background-image: url(assets/bg-desktop-light.jpg);
}
@media screen and (max-width: 1290px) {
  .App {
    padding: 5rem 20% 3rem;
  }
}
@media screen and (max-width: 550px) {
  .App {
    background-image: url(assets/bg-mobile-dark.jpg);
    padding: 5rem 10% 3rem;
  }
}
/* @media screen and (max-width: 450px) {
  .App {
  }
} */
@media screen and (max-width: 395px) {
  .App {
    padding: 5rem 5% 3rem;
  }
}